@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: 'Karla', sans-serif;
}

:root {
    --bgcolor : #000000;
    --accentcolor: #ffffff;
}

body {
    background-color: var(--bgcolor);
}

.link-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 40px auto;
    gap: 20px;
}
.link-tree img {
    width: 370px;
    height: 150px;
    margin-bottom: 170px;
    animation-duration: 1.25s;
    animation-name: SlideImg;
}

.link-tree h1 {
    font-size: 2.5rem;
}

.link-tree a {
    background-color: var(--accentcolor);
    color: var(--bgcolor);
    width: 100%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 15px;
    border: solid 2px var(--accentcolor);
    transition: all 0.5s linear;
    animation-duration: 1.25s;
    animation-name: SlideIn;
}

.link-tree a:hover {
    background-color: var(--bgcolor);
    color: var(--accentcolor);
    margin-left: 10%;
    width: 100%;
    filter: drop-shadow(5px 5px 12.5px var(--accentcolor));
}

@media (min-width: 1024px) {
    .link-tree {
        width: 40vw;
    }
}

@keyframes SlideIn {
    0% {
        margin-right: 100%;
        width: -10%;
    }

    50% {
        margin-right: -10%;
        width: 100%;
    }

    100% {
        margin-right: 0%;
        width: 100%;
    }
}

@keyframes SlideImg {
    0% {
        margin-left: 100%;
    }

    50% {
        margin-left: -10%;
    }

    100% {
        margin-left: 0%;
    }
}

